# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

# Log files
*.log
*.tlog

# Visual Studio
*.vcxproj.*
*.exp
*.ilk

# Compiled Object files
*.slo
*.lo
*.o
*.*obj

# Compiled Dynamic libraries
*.so
*.dll*
*.*pdb
*.idb

# Compiled Executables
*.exe*

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

.*.swp

.DS_Store

*.pyc

Makefile

/m4
config.guess
config.log
config.status
config.sub

libtool
ltmain.sh

.deps/

libcola/config.h.in
libcola/stamp-h1
libcola/config.h
libcola/config.h.in~

diff

*/tests/*
!*/tests/msctests/
!*/tests/msctests/*.vcxproj
!*/tests/*.cpp
!*/tests/*.h
!*/tests/Makefile.am
!libdialect/tests/swig_tests
libdialect/tests/swig_tests/output/*
!libdialect/tests/swig_tests/output/README.txt
!libdialect/tests/graphs


lib*/.libs
lib*/lib*.pc

adaptagrams*
!adaptagrams.i

swig-worked
test-driver

